<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.utshelps.utshelpsapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyBookingActivity"
            android:label="@string/my_booking"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.utshelps.utshelpsapp.HomeActivity" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/my_profile"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.utshelps.utshelpsapp.HomeActivity" />
        </activity>
        <activity
            android:name=".AvailableSessionsActivity"
            android:label="@string/available_sessions"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.utshelps.utshelpsapp.HomeActivity" />
        </activity>
        <activity
            android:name=".BookingHistoryActivity"
            android:label="@string/booking_history"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.utshelps.utshelpsapp.HomeActivity" />
        </activity>
        <activity
            android:name=".BookingDetailActivity"
            android:label="@string/title_activity_booking_detail"
            android:parentActivityName=".MyBookingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.utshelps.utshelpsapp.MyBookingActivity" />
        </activity>
        <activity
            android:name=".ContactActivity"
            android:label="@string/title_activity_contact"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.utshelps.utshelpsapp.HomeActivity" />
        </activity>
        <activity
            android:name=".AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.utshelps.utshelpsapp.HomeActivity" />
        </activity>
        <activity
            android:name=".SessionDetails"
            android:label="@string/title_activity_session_details"
            android:parentActivityName=".AvailableSessionsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.utshelps.utshelpsapp.AvailableSessionsActivity" />
        </activity>
    </application>

</manifest>